#primary .homeContent {
	width: 400px;
}


.singular .homeContent .entry-header, .singular .homeContent .entry-content {
	width: 300px;
}


.singleSideBarComittmentPage #content{
	width:350px;
}


#main #content {
	width: 530px;
}
