#primary .homeContent {
	width: 400px;
}


.singular .homeContent .entry-header, .singular .homeContent .entry-content {
	width: 300px;
}


.singleSideBarComittmentPage #content{
	width:350px;
}


#main #content {
	width: 370px;
}

#custom-bg {

}

.blog #main #content {
	width : 760px;
	margin-left: 60px;
}

.post .entry-content{
	width : 760px;
}

.blogContentBox {
	width: 405px;
}


#page {
	width: 880px;
}
